body {
    margin: 0;
    background: rgb(230, 92, 115);
    text-align: left;
}

body {
    font-family: 'Times New Roman', Times, serif, ;
    margin: 0;
    padding: 0;
    background-color: pink;
}

header {
    background-color: rgb(184, 19, 209);
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}
#search-button, #toggle-layout {
    padding: 10px 15px;
    background-color: #e73cfa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#search-button:hover, #toggle-layout:hover {
    background-color: #8b329d;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px;
    padding: 20px;
}

.list-container {
    display: block;
    padding: 20px;
}

.movie-item {
    border: 1px solid #f10db4;
    padding: 10px;
    border-radius: 5px;
    background-color: pink;
}

.movie-cover {
    width: 128px;
    height: 192px;
    margin-bottom: 10px;
}

.movie-info {
    text-align: left;
}
